@font-face {
  font-family: 'Montserrat';
  font-weight: 100;
  src: url("/fonts/Montserrat-Thin.otf") format("opentype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 200;
  src: url("/fonts/Montserrat-ExtraLight.otf") format("opentype");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  src: url("/fonts/Montserrat-Light.otf") format("opentype");
}


body {
  font-family: 'Montserrat','Helvetica Neue',Arial,Helvetica,sans-serif;
}

.instafeed {
  margin-left: 250px;
  padding: 30px;
}
.image{
  float:left;
  width:250px;
  height:250px;
  overflow: auto;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}

.instapost {
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border-radius: 2px;
  float:left;
  width:250px;
  margin:10px;
  overflow: auto;
}

.image img {
  width: auto;
  height: auto;
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  display: block;
  margin: auto;
  max-width:100%;
  max-height:100%;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

img{
  margin: auto;
  max-width:100%;
  max-height:100%;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.sidebar {
	width: 250px;
  background: #36393F;
	position:fixed;
	height: 100%;
  display: flex;
  flex-direction: column;
}



.container {
	display: flex;
	flex: 1;
}

.buttonSeparator {
  width: 3px;
  background-color: #DDDDDD;
}

.buttonContainer {
  display: flex;
	flex: 1;
  width: 250px;
  border-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-style: solid;
  border-color: #DDDDDD;
}

.button {
  width: 124px;
  height: 40px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.username {
  margin: 5px;
  margin-bottom: 0px;
  color: #3897F0;
}

.date {
  margin-right: 10px;
  text-align: right;
  font-size: .8em;
  color: #bdc3c7;
}

.description {
  color: #6C7A89;
  margin: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: .6em;
  font-weight: 300;
  height: 80px;
  overflow: auto;
}

input[type=text] {
  font-family: 'Montserrat','Helvetica Neue',Arial,Helvetica,sans-serif;
    background-color: #1C1F25;
    color: #CBCCCD;
    margin: auto;
    margin-top: 5px;
    width: 93%;
    height: 30px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #1C1F25;
    border-radius: 4px;
}

.sort {
  width: 93%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.searchContainer {
	display: flex;
	flex: 1;
  width: 93%;
  margin: auto;
  margin-top: 8px;  
}

.searchButton {
  background-color: #2c2e33;
  color: #F8F8F8;
  width: 120px;
  height: 40px;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 40px;
  cursor: pointer;
}

.incrementButton {
  background-color: #2c2e33;
  width: 40px;
  height: 40px;
  font-weight: 100;
  display: flex;
  margin-right: 5px;
  justify-content: center;
  line-height: 40px;
  cursor: pointer;
}

.gap {
  margin: auto
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input:focus{
    outline: none;
}

.Select-control {
  background: #1C1F25;
  border-width: 0;
}

.is-searchable.is-open > .Select-control{
  background: #1C1F25;
  border-width: 0;
}

.Select-option {
  background: #1C1F25;
  color: #CBCCCD;
  border-width: 0;
}

.Select-option.is-focused {
  background-color: #2C2E33;
  color: #CBCCCD;
}

.Select-option.is-selected {
  background-color: #2C2E33;
  color: #CBCCCD;

}

.Select-menu-outer {
  background: #1C1F25;
  color: #CBCCCD;
  border-width: 0;
}

.categoryHeader {
  margin-top: 10px;
  height: 40px;
  width: 100%;
  background: #292C32;
  color: #CBCCCD;
  font-weight: 200;
  font-size: 1em;
  display: flex;
  align-items:center;
}

.icon {
  font-size: 1.8em;
  font-weight: 100;
  margin-left: 10px;
  margin-right: 10px;
}

.caret{
  margin-right: 10px;
  float:left;
  width:20px;
  height:20px;
  overflow: auto;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}

.rotate {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.keywordMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}